.products-page{

min-height:100vh;

padding-top:120px;

animation:fadeUp .8s ease;

}



.products-hero{

text-align:center;

max-width:900px;

margin:auto;

}



.products-badge{

display:inline-block;

padding:10px 20px;

border-radius:999px;

background:rgba(139,92,246,.12);

border:1px solid rgba(139,92,246,.35);

color:#c4b5fd;

margin-bottom:35px;

}



.products-hero h1{

font-size:clamp(3rem,6vw,5rem);

line-height:1;

letter-spacing:-3px;

}



.products-hero h1 span{

color:#8b5cf6;

}



.products-hero p{

margin-top:25px;

font-size:1.2rem;

color:#a1a1aa;

}





.products-grid{


max-width:1200px;

margin:90px auto;

display:grid;

grid-template-columns:repeat(3,1fr);

gap:35px;


}





.product-card{


padding:40px;

min-height:420px;

display:flex;

flex-direction:column;

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.1);

border-radius:30px;

backdrop-filter:blur(20px);

animation:fadeUp .8s ease forwards;

transition:.35s;


}





.product-card:hover{


transform:translateY(-12px);

border-color:#8b5cf6;

box-shadow:

0 20px 60px rgba(139,92,246,.25);


}






.product-top{


display:flex;

justify-content:space-between;

align-items:center;


}





.product-icon{


font-size:45px;


}





.product-status{


padding:7px 14px;

border-radius:999px;

font-size:.85rem;

background:rgba(139,92,246,.15);

color:#c4b5fd;


}





.product-category{


margin-top:35px;

font-size:.9rem;

color:#8b5cf6;

text-transform:uppercase;

letter-spacing:1px;


}





.product-card h2{


font-size:32px;

margin:15px 0;


}





.product-card p{


color:#a1a1aa;

line-height:1.7;

flex:1;


}





.product-button{


margin-top:30px;

display:flex;

justify-content:space-between;

align-items:center;

padding:15px 20px;

border-radius:15px;

background:#8b5cf6;

color:white;

font-weight:600;

transition:.3s;


}





.product-button:hover{


transform:translateY(-3px);

box-shadow:

0 15px 35px rgba(139,92,246,.4);


}





@media(max-width:1000px){


.products-grid{


grid-template-columns:1fr;

max-width:500px;


}


}